<html>
<head>
    <title>{{post.title}} | FastComments Blog</title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/css/blog.css">
    <script src="js/blog.min.js"></script>
    <script src="https://fastcomments.com/js/comment-ui.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="FastComments.com" />
    <meta property="og:description" content="Live embedded commenting, fast." />
    <meta property="og:image" content="https://fastcomments.com/images/logo-1080-2020-01.png" />
    <meta property="og:image:width" content="1080"  />
    <meta property="og:image:height" content="1080"  />
</head>
<body>
<div class="header">
    <div class="header-inner">
        <a href="/"><img src="/images/logo-32-2020-01.png" alt="Logo" />FastComments.com Blog</a>
        <div class="buttons">
            <a href="https://blog.fastcomments.com/rss.xml"><img src="/images/rss.png"/></a>
            <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fblog.fastcomments.com%2Frss.xml'
               target='blank'><img id='feedlyFollow'
                                   src='https://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-medium_2x.png'
                                   alt='follow us in feedly' width='71' height='28'></a>
        </div>
    </div>
</div>
<div class="left-right-art"></div>
<div class="content post-page">
    <div class="posts">
        <section class="post">
            <div class="post-description">
                {{{post.html}}}
            </div>
        </section>
        <script src="https://cdn.fastcomments.com/js/embed.min.js"></script>
        <div id="fastcomments-widget"></div>
        <script>
            window.FastCommentsUI(document.getElementById('fastcomments-widget'), {
                tenantId: 'nYrnfYEv',
                commentCountFormat: window.fcCommentCountFormat,
                commentCountUpdated: window.fcCommentCountUpdated,
                headerHTML: window.fcHeaderHTML,
                hideAvatars: window.hideAvatars,
                inputAfterComments: window.inputAfterComments,
                absoluteDates: window.absoluteDates,
                countAll: true
            });
        </script>
    </div>

    <div class="footer">
        <div>Copyright WinrickLabs {{footerYears}}</div>

        <div id="watchly-target" style="margin: 5px; font-size: 10px"></div>
        <script src="https://watch.ly/js/watchly-web.min.js"></script>
        <script>
            watchly.connect(document.getElementById('watchly-target'), {
                "key": "5d1fcfabcc00a66e161816b4",
                "prefix": "<img src=\"https://watch.ly/images/eye-s-b.png\" style=\"width: 20px;vertical-align: middle;margin-right: 4px;\" title=\"Live Count by Watch.ly\" />",
                "postfix": " Current Visitors on Article"
            });
        </script>
    </div>
</div>
</body>
</html>
