<html lang="{{#if lang}}{{lang}}{{else}}en{{/if}}">
<head>
    <title>{{post.title}} | FastComments Blog</title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/css/blog.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="FastComments.com"/>
    <meta property="og:description" content="Live embedded commenting, fast."/>
    <meta property="og:image" content="https://fastcomments.com/images/logo-1080-2020-01.png"/>
    <meta property="og:image:width" content="1080"/>
    <meta property="og:image:height" content="1080"/>
    {{#each alternateLocales}}
    <link rel="alternate" hreflang="{{hreflang}}" href="/{{url}}">
    {{/each}}
    <script async src="https://watchlycdn.com/js/watchly.min.js" data-key="5d1fcfabcc00a66e161816b4"></script>
    <link rel="alternate" type="application/rss+xml" title="FastComments Blog"
          href="https://blog.fastcomments.com/rss.xml">
</head>
<body>
<div class="header">
    <div class="header-inner">
        <a href="/">
            <div class="css-logo"><i class="t"></i><i class="m"></i><i class="b"></i></div>
            FastComments.com Blog</a>
        <div class="buttons">
            {{#if availableLocales}}
            <div class="language-selector">
                <div class="language-selector-toggle" tabindex="0">
                    <span class="language-selector-flag">{{#each availableLocales}}{{#if current}}{{flag}}{{/if}}{{/each}}</span>
                    <span class="language-selector-arrow">▼</span>
                </div>
                <div class="language-selector-dropdown">
                    {{#each availableLocales}}
                    <a href="/{{url}}" class="language-option {{#if current}}current{{/if}}">
                        <span class="language-option-flag">{{flag}}</span>
                        <div class="language-option-names">
                            <div class="language-option-native">{{nativeName}}</div>
                            <div class="language-option-english">{{name}}</div>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            <a href="https://blog.fastcomments.com/rss.xml"><img src="/images/rss.png"/></a>
            <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fblog.fastcomments.com%2Frss.xml'
               target='blank'><img id='feedlyFollow'
                                   src='https://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-medium_2x.png'
                                   alt='follow us in feedly' width='71' height='28'></a>
        </div>
    </div>
</div>
<div class="content post-page">
    <div class="posts">
        <section class="post">
            <div class="post-description">
                {{{post.html}}}
            </div>
        </section>
        <script src="https://cdn.fastcomments.com/js/widget-comment-count-bulk.min.js"></script>
        <script>
            window.FastCommentsCommentCountBulk({
                tenantId: 'L177BUDVvSe'
            });
        </script>

        <script src="https://cdn.fastcomments.com/js/embed-v2.min.js"></script>
        <script src="https://cdn.fastcomments.com/js/embed-collab-chat.min.js"></script>
        <div id="fastcomments-widget" class="post-comment-widget"></div>
        <script>
            (function () {
                FastCommentsCollabChat(document.querySelector('.post-description'), {
                    tenantId: 'L177BUDVvSe'
                });
                const config = {
                    tenantId: 'L177BUDVvSe',
                    commentCountFormat: window.fcCommentCountFormat,
                    commentCountUpdated: window.fcCommentCountUpdated,
                    headerHTML: window.fcHeaderHTML,
                    hideAvatars: window.hideAvatars,
                    inputAfterComments: window.inputAfterComments,
                    absoluteDates: window.absoluteDates,
                    countAll: true
                };
                if (window.demoOverrides) {
                    Object.assign(config, window.demoOverrides);
                }
                window.FastCommentsUI(document.getElementById('fastcomments-widget'), config);
            })();
        </script>
        <noscript>
            <iframe
                    src="https://fastcomments.com/ssr/comments/?tenantId=L177BUDVvSe&urlId={{post.fullUrl}}&url={{post.fullUrl}}"
                    horizontalscrolling="no"
                    allowtransparency="true"
                    frameborder="0"
                    title="FastComments"
                    width="100%"
                    height="1000px"
                    style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important;"
                    class="post-comment-widget"
            ></iframe>
        </noscript>
        <script src="https://cdn.fastcomments.com/js/embed-page-likes-floating.min.js"></script>
        <div id="fastcomments-page-likes-floating"></div>
        <script>
            window.FastCommentsEmbedPageLikesFloating(document.getElementById('fastcomments-page-likes-floating'), {
                tenantId: 'L177BUDVvSe'
            });
        </script>
    </div>

    <div class="footer">
        <div>Copyright FastComments.com</div>
    </div>
</div>
</body>
</html>
