<html>
<head>
    <title>{{post.title}} | FastComments Blog</title>
    <link rel="shortcut icon" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/blog.css">
    <script src="js/blog.min.js"></script>
    <script src="https://fastcomments.com/js/comment-ui.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header">
    <a href="/">FastComments Blog</a>
    <div class="buttons">
        <a href="https://blog.fastcomments.com/rss.xml"><img src="/images/rss.png"/></a>
        <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fblog.fastcomments.com%2Frss.xml'
           target='blank'><img id='feedlyFollow'
                               src='https://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-medium_2x.png'
                               alt='follow us in feedly' width='71' height='28'></a>
    </div>
    <div id="watchly-target" style="font-size: 10px"></div>
    <script src="https://watch.ly/js/watchly-web.min.js"></script>
    <script>
        watchly.connect(document.getElementById('watchly-target'), {
            "key": "5d1fcfabcc00a66e161816b4",
            "prefix": "<img src=\"https://watch.ly/images/eye-s-b.png\" style=\"width: 20px;vertical-align: middle;margin-right: 4px;\" title=\"Live Count by Watch.ly\" />",
            "postfix": " Current Visitors on Homepage"
        });
    </script>
</div>
<div class="content post-page">
    <div class="posts">
        <section class="post">
            <div class="post-description">
                <p>
                    {{{post.html}}}
                </p>
            </div>
        </section>
        <div id="comments"></div>
        <script>
            window.FastCommentsUI(document.getElementById('comments'), {
                tenantId: 'nYrnfYEv',
                debugRenderTime: true
            });
        </script>
    </div>

    <div class="footer">Copyright winrickLabs LLC {{footerYears}}</div>
</div>
</body>
</html>
